/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* importante para que larguras sejam calculadas corretamente */
}


html, body, #root {
  height: 100%;
  width: 100%;      /* garante que ocupe 100% da largura */
  font-family: Arial, sans-serif;
}



.container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100%;            /* pega 100% da altura do #root */
  width: 100%;             /* pega 100% da largura */
  background-color: #1b1b1b;
  padding: 20px;           /* opcional: espaço nas bordas da tela */
}




.card {
  background-color: #161616;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px; /* largura máxima, mantém centralização */
  text-align: center;
}



input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
